{% load static %}

{% block title %}
    <title>
        Сброс пароля
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block content %}
<body class="container d-flex align-items-center justify-content-center" style="background-color:#F1FAEE; font-family: Comfortaa; color:white;">
    <div class="card d-flex align-items-center justify-content-center mx-auto my-auto text-center" style="border-radius:20px; background-color:#0B2545">
        <div class="card-body">
            <h3 class="card-title" style="margin:10px"> Сброс пароля </h1>
            <br>
			<form method="post">
				{% csrf_token %}

				{% for field in form %}
					<input type="email" name="email" placeholder="Ваша почта" class="form-control mx-auto" style="padding:10px; background-color:#134074; color:white; border-radius:20px; border: none"> <br>
				{% endfor %}

				<div class="form-buttons">
					<input type="submit" value="Отправить" class="btn btn-success w-100 mx-auto"> <br> <br>
					<a href="{%url 'login' %}" class="btn btn-outline-light w-100 mx-auto"> Отмена </a>
				</div>
			</form>
        </div>
    </div>
</body>
{% endblock %}