{% block title %}Profile Page{% endblock title %}
{% block content %}

<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-2">
                <div>
                    <label class="small mb-1">password:</label> 
                    <input type="text" max_length="150" autofocus="" required="" id="id_password1" name="password1" class="form-control mx-auto" placeholder="пароль 1" style="padding:10px; background-color:#134074; color:white; border: none; border-radius:20px"> <br>
                </div>
                <div>
                    <label class="small mb-1">repeat password</label> 
                    <input type="text" max_length="150" autofocus="" required="" id="id_password2" name="password2" class="form-control mx-auto" placeholder="пароль 2" style="padding:10px; background-color:#134074; color:white; border: none; border-radius:20px"> <br>
                </div>
            </div>
        </div>
        <br><br>
        <button type="submit" href="{% url 'login' %}" class="btn btn-dark btn-lg">Save Changes</button>
        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </form>
</div>
{% endblock content %}