{% load static %}

<link rel="stylesheet" href="{% static 'LavaroWeb/HomePage.css' %}"/>

{% block title %}
<head>
    <title>Welcome page</title>
</head>
{% endblock %}

{% block content %}
    <body>
        <div class="header">
            <img src="{% static 'LavaroWeb/media/popabara.png' %}" width="120" height="90" align="center" readonly="true">
        </div>

        <div class="catImage">
            <img src="{% static 'LavaroWeb/media/superultraanimation.gif' %}" alt="Capy Photo"/>
        </div>

        <div class="loginHolder">
            <p> Login </p>
            <input type="text" id="login" placeholder="LavaroCreator" minlength="1"> </input>
            <p> Password </p>

            <input type="text" id="password" placeholder="LavaroTheBest" minlength="1"> </input> <br> <br>
            <button class="RegisterButton" onclick="location.href='{% url 'LavaroWeb:chats' %}'">
                Register
            </button>
            <br> <br>
            <button class="LogInButton" onclick="location.href='{% url 'LavaroWeb:profile_detail' %}'">

            <input type="password" id="password" placeholder="YourPassword" minlength="1"> </input> <br> <br>
            <button class="RegisterButton">
                Register
            </button>
            <br> <br>
            <a href="{% url 'LavaroWeb:profile_detail' user.id%}">
                <button class="LogInButton" type="button">
                Log In
                </button>
            </a>
        </div>
    </body>
{% endblock %}