{% load static %}

<link rel="stylesheet" href="{% static 'LavaroWeb/Profile.css' %}"/>

{% block title %}

<head>
    <title>
        Profile
    </title>
</head>

{% endblock %}

{% block content %}
<body>
    <ul>
        <li> <a href="#"> Home </a> </li>
        <li>
            <a href="#"> Languages </a>
            <ul class="dropdown">
                <li> <a href="#"> HTML </a> </li>
                <li> <a href="#"> CSS </a> </li>
                <li> <a href="#"> JS </a> </li>
            </ul>
        </li>
    </ul>
</body>
{% endblock %}