{% load static %}

<link rel="stylesheet" href="{% static 'LavaroWeb/vacancy_list.css' %}"/>

{% block title %} 
    <title>
        Main Page
    </title>
{% endblock %}

{% block header %}

    <header> 
        <div>
            <ul>
                <li> 
                    <a href="{% url 'LavaroWeb:vacancy_list' %}"> 
                        Vacancies
                    </a> 
                </li>
                <li>
                    <a href="#"> Chats </a>
                </li>
                <li> 
                    <a href="{% url 'LavaroWeb:profile_detail' user.userprofile.id %}"> Profile </a>
                </li>
                <li>
                    <a href="#"> ≣ </a>
                    <ul class="dropdown">
                        <li> <a href="#"> Settings </a> </li>
                        <li> <a href="{% url 'logout' %}"> Log Out </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

{% endblock %}

{% block content %}
    {% for vacancy in plenty_vacancy %}
        <div class="Vacancies">
            <h2>
                <a href="{{vacancy.get_absolute_url}}">
                    {{ vacancy.title }}
                </a>
            </h2>
            <br>
            {{ vacancy.requirement|truncatechars:200|linebreaks }}
            <br>
            <p class="date">
                Published on {{ vacancy.publish.date }} by {{ vacancy.publish.time }}
            </p>
            <p class="date">
                Author {{ vacancy.author }}
            </p>
        </div>
    {% endfor %}

    {% include "pagination.html" with page=plenty_vacancy %}
{% endblock %}