{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>

{% block title %} 
    <title>
        Main Page
    </title>
{% endblock %}

{% block header %}

    <header> 
        <div>
            <ul>
                <li> 
                    <a href="{% url 'LavaroWeb:vacancy_list' %}"> 
                        Vacancies
                    </a> 
                </li>
                <li>
                    <a href="#"> Chats </a>
                </li>
                <li> 
                    <a href="{% url 'LavaroWeb:profile_detail' user.userprofile.id %}"> Profile </a>
                </li>
                <li>
                    <a href="#"> ≣ </a>
                    <ul class="dropdown">
                        <li> <a href="#"> Settings </a> </li>
                        <li> <a href="{% url 'logout' %}"> Log Out </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

{% endblock %}
{% block content %}
<body>
    <div class="profileHolder">
        <img src="{{ profile.image.url }}" alt="Profile picture" width="450" height="450" readonly="true" align="center"/>
        <div class="profileTextHolder">
            <p>
                Username: {{ profile.name }}
            </p>

            <p> 
                Age: {{ profile.age }}
            </p>

            <p> 
                Expirience: {{ profile.expirience }}
            </p>
        </div>
    </div>
</body>
{% endblock %}